.footer{
    width: 100%;
    background-color: #292929;
    padding: 68px 90px;
    display: flex;
}
.footerItemUl{
    list-style-type: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footerItem2{
    margin-left: 251px;
}
.socialIcon{
    width: 15.7px;
    height: 15px;
    color: white !important;
    margin-right: 15px;
}
.phoneIcon{
    margin-right: 15px;
}
.getInTouch{
    display: none;
}