.Header{
    background-image: url('../../assets/images/Header/header_image\ 1.svg');
    background: linear-gradient('linear-gradient(180deg, rgba(14, 17, 28, 0.8) 0%, rgba(14, 17, 28, 0) 100%);');
    background-size: cover;
    background-repeat: no-repeat;
}
.backFon{
    width: 100%;
    height: auto;
    background-image: url('../../assets/images/Header/Rectangle\ 1.svg');
}