.pricingOrder{
    position: absolute;
    display: flex;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}
.ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.ul > li{
    list-style-type: none;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    /* font-style: normal; */
}
.pricing{
    padding-left: 0;
}
.services{
    padding-right: 0;
}